<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Ticket Tracker Application</title>
</head>

<body>

	<nav class="navbar navbar-expand-md bg-primary navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/tickets}">Tickets</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/tickets/newTicket}">New Ticket</a></li>
			</ul>
		</div>

	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">

				<h1 class="text-center">Edit Ticket</h1>
				<div class="card-body">

					<form action="#"
						th:action="@{/admin/tickets/update/{id} (id=${ticket.id})}"
						th:object="${ticket}" method="POST">

						<!-- Add hidden form field to handle update -->
						<input type="hidden" name="id" th:field="*{id}" />


						<div class="form-group">
							<label> Title </label> <input type="text" name="title"
								th:field="*{title}" class="form-control" />
						</div>

						<div class="form-group">
							<label> Short Description </label> <input type="text"
								name="description" th:field="*{description}"
								class="form-control" />
						</div>

						<div class="form-group">
							<label> Content </label> <input type="text" name="content"
								th:field="*{content}" class="form-control" />
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>

					</form>

				</div>

			</div>
		</div>

	</div>
</body>

</html>










